@charset "UTF-8";
/* CSS Document */

/*  Global Style  */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,900');

html {
	font-size: 18px;
}

body {
	font-family: raleway, helvetica, sans-serif;
	color: #333333;
}

body,
.content,
h1,
h2,
h3,
p,
a {
	
}

h1 {
	font-size: 26.25px;
	font-weight: 800;
	letter-spacing: .3pt;
}

a {
	text-decoration: none;
	color: #333333;
}

.content {
	background-color: #CCCCCC;
	max-width: 960px;
	width: 100%;
	margin: auto;
	padding: 0px
}

.image {
	width: 60%;
	background-size: cover;
	margin: 32px 24px;
}


/*  Top Navigation Bar  */

.top-nav {
	width: 100%;
	height: 64px;
	display: inline-flex;
	margin: auto 0;	
	justify-content: space-between;
	background-color: white;
}

.logo {
	padding: 0;
	margin: 0;
	width: auto;
	display: inline-flex;
	align-items: center;
}

.logo-icon {
	width: auto;
	height: 50px;
	padding-left: 24px;
	display: inline-flex;
	
	align-items: center;
}

.logo h1 {
	font-size: 22px;
	display: inline-flex;
	align-items: center;
	font-weight: 900;
}

.logo span {
	font-weight: 500;
	color: #999999;
}

nav {
	
}

.desktop-nav {
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
	width: auto;
	padding-right: 24px;
	
	float: right;
	align-content: flex-end;
}

.desktop-nav a {
	padding-left: 16px;
}

.mobile-nav {
	
}

.mob-nav-img {
	
}

@media only screen and (max-width:2000px) {
	.mobile-nav {
		display: none;
	}
}


/*  Main Banner  */

.main-banner {
	display: inline-flex;
	width: 100%;
}

.banner {
	height: 378px;
	background-image: url(../images/banner.jpg);
}

.banner-text {
	width: 225px;
	display:  inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.banner-text h1 {
	padding-bottom: 20px;
}

.banner-text p {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.25;
	padding-bottom: 20px;
	letter-spacing: .25pt;
}

.banner-text a {
	width: 90%;
	background-color: #333333;
	color: #FFFFFF;
	font-size: 0.8rem;
	padding: 8px;
	text-align: center;
}

/*  Academy Page  */

.academy-desktop {
	background-color: #FFFFFF;
	display: inline-flex;
	width: 100%;
}

.academy-main {
	width: 60%;
	padding: 32px 24px;
}

.academy {
	background-image: url(../images/information-main.jpg);
	height: 325px;
	width: 100%;
	background-size: cover;
	
	margin: 0;
	padding: 0;
}

.academy-main h1 {
	padding-top: 32px;
	padding-bottom: 24px;
}

.academy-main p {
	font-size: 14px;
	line-height: 1.4;
	font-weight: 400;
}

#citation {
	padding-top: 32px;
	font-size: 10px;
	font-weight: 500;
	color: #333333;
	letter-spacing: .1pt;
}

.academy-list {
	width: 35%;
	display: inline-flex;
	flex-direction: column;
	padding-top: 16px;
}

.academy-item {
	display: inline-flex;
	justify-content: space-between;
	width: 99%;
	height: 29%;
	border: .25px solid #cccccc;
}

.light-grey {
	background-color: #cccccc;
}

.item-image {
	width: 35%;
	height: auto;
	background-size: cover;
	margin: 16px;
}

.orientation {
	background-image: url(../images/information-orientation.jpg);
}

.campus {
	background-image: url(../images/information-campus.jpg);
}

.guest {
	background-image: url(../images/information-guest-lecture.jpg);
}

.information {
	width: 65%;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
}

.information h2 {
	font-size: 14.5px;
	font-weight: 600;
}

.information p {
	padding: 8px 0;
	padding-right: 15px;
	font-size: 10px;
	line-height: 1.6;
	font-weight: 400;
	letter-spacing: .45pt;
}

.information a {
	font-size: 12px;
	color: #3399CC;
	letter-spacing: .5pt;
}


/*  Start Learning Page  */

.start-learning {
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	
	/*
	padding: 32px 56px; */
}

.start-learning h1 {
	text-align: center;
	padding-bottom: 32px;
	width: auto;
}

.desktop {
	display: inline-flex;
	width: 100%;
	flex-wrap: wrap;
}

.course-container {
	padding: 32px 72px;
}

.course {
	background-color: #ffffff;
	display: inline-flex;
	flex-direction: column;
	width: 30%;
	margin: 10px;
}

.padding-right {
	padding-right: 32px;
}

.course-image {
	width: 100%;
	height: 128.5px;
	background-size: cover;
	background-position: center;
}

.software {
	background-image: url(../images/course-software.jpg);
}

.arts {
	background-image: url(../images/course-computer-art.jpg);
}

.design {
	background-image: url(../images/course-software.jpg);
}

.data {
	background-image: url(../images/course-design.jpg);
}

.business {
	background-image: url(../images/course-business.jpg);
}

.marketing {
	background-image: url(../images/course-marketing.jpg);
}

.details {
	padding: 16px;
}

.details h2 {
	font-weight: 600;
	letter-spacing: .35pt;
}

.details h3 {
	padding: 8px 0;
	font-size: 12px;
	letter-spacing: .5pt;
	font-weight: 400;
}

.course p {
	font-size: 12px;
	letter-spacing: .35pt;
	line-height: 14pt;
}